
<div *ngIf="categories | async as cats; else loader">
    <div class="frow order-row" *ngIf="cats.length !== 0; else empty">
        <div class="card waves-effect pointer"
         *ngFor="let cat of cats"
         [routerLink]="['/order', cat._id]"
        >
            <div class="center">
                <img
                 [src]="cat.imageSrc"
                 class="responsive-img order-img"
                >
            </div>
            <div class="card-content center p10">
                <h5 class="m0">{{cat.name}}</h5>
            </div>
        </div>
    </div>
    <ng-template #empty>
        <div class="center">Категорий пока нет.</div>
    </ng-template>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>