<ul class="sidenav sidenav-fixed a-sidenav">
    <h4>ShopCRM</h4>
    <li class="bold" *ngFor="let link of links" routerLinkActive="active">
        <a [routerLink]="[link.url]" class="waves-effect waves-orange">{{link.name}}</a>
    </li>
    
    <li class="bold last">
        <a (click)="logout($event)" class="waves-effect waves-orange">Выйти</a>
    </li>
</ul>

<main class="content">
    <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a routerLink="/order" class="btn-floating green">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a routerLink="/categories/new" class="btn-floating blue">
                <i class="material-icons">list</i>
            </a>
        </li>
    </ul>
</div>


<a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">info</i></a>
