<div class="page-title">
    <h4>Категории</h4>
    <button class="waves-effect waves-light btn grey darken-1"
     routerLink="/categories/new"
    >
     Добавить категорию
    </button>
</div>

<div class="row" *ngIf="categories | async as cats; else loader">
    <div class="col s12">
        <div class="collection" *ngIf="cats.length !== 0; else empty">
            <a class="collection-item"
             *ngFor="let cat of cats"
             [routerLink]="['/categories', cat._id]"
            >
             {{cat.name}}</a>
        </div>
        <ng-template #empty>
            <div class="div center">У вас нет категорий</div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>