<div *ngIf="positions$ | async as positions; else loader">
  <table class="highlight" *ngIf="positions.length !== 0; else empty">
    <thead>
      <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pos of positions">
        <td>{{pos.name}}</td>
        <td>{{pos.cost}} руб.</td>
        <td>
          <div class="input-field inline order-position-input">
            <input type="number" value="1" min="1"
             [(ngModel)]="pos.quantity"
            />
          </div>
        </td>
        <td>
          <button class="btn waves-effect wavers-light btn-small"
           (click)="addToOrder(pos)"
           [disabled]="!pos.quantity"
          >
            Добавить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">В этой категории пока нет позиций.</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
