<form
    class="card"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="card-content">
        <span class="card-title">Создать аккаунт</span>
        <div class="input-field">
            <input
             formControlName="email"
             id="email"
             type="email"
             [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
            >
            <label for="email">Email:</label>
            <span
             *ngIf="form.get('email').invalid && form.get('email').touched"
             class="helper-text red-text"
            >
                <span *ngIf="form.get('email').errors['required']">
                    Email не должен быть пустым
                </span>
                <span *ngIf="form.get('email').errors['email']">
                    Введите корректный Email
                </span>
            </span>
        </div>
        <div class="input-field">
            <input
             formControlName="password"
             id="password"
             type="password"
             [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"

            >
            <label for="password">Пароль:</label>
            <span
             *ngIf="form.get('password').invalid && form.get('password').touched"
             class="helper-text red-text"
            >
                <span *ngIf="form.get('password').errors['required']">
                    Пароль не должен быть пустым
                </span>
                <span *ngIf="form.get('password').errors['minlength'] &&
                form.get('password').errors['minlength']['requiredLength']">
                    Пароль должен быть больше {{ form.get('password').errors['minlength']['requiredLength'] }} символов.
                    Сейчас {{ form.get('password').errors['minlength']['actualLength'] }}
                </span>
            </span>
        </div>
    </div>
    <div class="card-action">
        <button
            type="submit"
            class="modal-action btn waves-effect"
            [disabled]="form.invalid || form.disabled"
        >
        Создать
        </button>
    </div>
</form>